@import "tailwindcss";

@theme {

  --font-sans: "Inter, system-ui, sans-serif";

  --radius: 0.75rem;

  --color-background: #ffffff;
  --color-foreground: #09090b;

  --color-muted: #f4f4f5;
  --color-muted-foreground: #6f7072;

  --color-popover: #ffffff;
  --color-popover-foreground: #09090b;

  --color-border: #e4e4e7;
  --color-input: #e4e4e7;

  --card: #ffffff;
  --card-foreground: #09090b;

  --color-primary: #3b6dff; /* Bleu indigo - Couleur principale */
  --color-primary-foreground: #fafafa;

  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #18181b;

  --color-accent: #f4f4f5;
  --color-accent-foreground: #18181b;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;

  --color-ring: #3b6dff;

  --color-switch: #c0c0c0;
  --color-switch-foreground: #ffffff;

  
}

@layer base {
body {
color-scheme: light dark;
}
  .dark {
    --background: #09090b;
    --foreground: #fafafa;

    --muted: #27272a;
    --muted-foreground: #a1a1aa;

    --popover: #09090b;
    --popover-foreground: #fafafa;

    --border: #27272a;
    --input: #27272a;

    --card: #09090b;
    --card-foreground: #fafafa;

    --primary: #3b6dff;
    --primary-foreground: #fafafa;

    --secondary: #27272a;
    --secondary-foreground: #fafafa;

    --accent: #27272a;
    --accent-foreground: #fafafa;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --ring: #3b6dff;

    --switch: #44403c;
    --switch-foreground: #fafafa;
  }
}